body{
	margin: 0,0,0,0;
	overflow: hidden;
}
.main{
	margin: 0,0,0,0;
	overflow: hidden;
}

.form_1{
	width:400px;
	height:200px;
	border:3px solid #f8f8f8;
	visibility: hidden;
	position: absolute;
	z-index: 999;
	opacity: 1;
	overflow: hidden;
	background-color: white;
	text-align: center;
	margin-top: 10%;
	margin-left: 35%;
	border-radius: 10px;
}
.open{
	visibility: visible;
	opacity: 1;
}
.input_1{
	margin-top: 15px;
	width:100%;
	height:40px;
	
}
input{
	width:280px;
	height:30px;
	border-radius: 5px;
	border:1px solid  #e5dfdf;
}
.input_1 .login_logo{
	text-align: left;
	font-size: 20px;
	font-weight: 300;
	padding-left: 30px;
	float: left;
}
.input_1 .close{
	width:20px;
	height:20px;
	color:#5d5d5d;
	text-align: center;
	line-height: 20px;
	border:1px solid  #5d5d5d;
	border-radius: 50%;
	float: right;
	padding-top: 0px;
	margin-right: 10px;
	font-size: 12px;
}
.input_1 .close:hover{
	cursor:pointer;
}
hr{
	background-color: #F8F8F8;
}

.input_1 .submit_1{
	border:2px solid #23c6c8;
	height:40px;
	background-color: white;
}
.input_1 .submit_1:hover{
	background-color: #23babc;
	color:white;
}

table{

	weight:100%;
}

td{

	weith:20%;
}

h1 {margin-left:50px;font-size:24pt;color:green;}
.btn{
	
	position: relative;
	display:inline-block;
	width:100px;
	overflow:hidden;
	text-align:center;
	font-size:14px;
	line-height:25px;
	vertical-align:center;
	border:1px solid #23c6c8;
	background-color:#23c6c8;
	color:#fff;
	border-radius:3px;
	margin-left:50px;
}
.btn:hover{
	border:1px solid #23babc;
	background-color:#23babc;
}
.btn input{
	position:absolute;
	left:0;
	top:0;
	opacity:0;
}
.filename{
	text-align:center;
}

#fm { line-height: 24px; list-style-type: none;}/*设置盒子的行高，去掉标记，设置背景颜色*/
#fm a { display: block; width:100%; text-align:center; }/*设置A标签为块元素不显示，宽度，居中*/
#fm a:link { text-decoration:none; } /* 设置未访问的链接样式*/
#fm a:visited { text-decoration:none; } /* 设置已访问的链接样式 */
#fm a:hover { color:black;text-decoration:none;font-weight:bold; }  /* 当有鼠标悬停在链接上的颜色 */
#fm li { float: left; width: 150px; }
#fm li ul a:hover{ background:black; }
#fm li ul { line-height: 27px; list-style-type: none;text-align:left; left: -999em; width: 60px; position: absolute; }
#fm li ul li{ float: left; width: 60px; background: #F6F6F6; } 
#fm li ul a{ display: block; width: 60px;width: 60px;text-align:left;padding-left:5px; } 
#fm li ul a:link { color:#666; text-decoration:none; } 
#fm li ul a:visited { color:#666;text-decoration:none; } 
#fm li ul a:hover { color:#F3F3F3;text-decoration:none;font-weight:normal;  } 
#fm li:hover ul { left: auto; } 
#fm li.sfhover ul { left: auto; } 
#content { clear: left; } 